:root {
    --paddingSide: 10%;
}
body{
    background-color: #f0f0f0;
}
.png-link:hover{
    filter: brightness(0.85) saturate(100%);
}
.nav-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: aliceblue;
}
.TopNav{
    width: 100%;
    padding-left: var(--paddingSide);
    padding-right: var(--paddingSide);
    background-color: #00aac6;
}
.content{
    padding-left: var(--paddingSide)!important;
    padding-right: var(--paddingSide)!important;
    background-color: #f0f0f0;
}
#logo{
    width: 100%;
    max-width: 300px;
}
.footer{
    padding-left: var(--paddingSide);
    padding-right: var(--paddingSide);
    border-top: 1px solid #909090;
    background-color: #00aac6;
}
.round5{
    border-radius: .5rem;
}
#copyright{
    color: #f0f0f0;
    text-decoration: none;
}
.shallow:hover{
    filter: brightness(0.6) saturate(100%);
}
.bot{
    margin:5px;
}
.bg-darker{
    background: #343a40; /* Old browsers */
    background: -moz-linear-gradient(top, #343a40 0%, #292e33 70%, #141719 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #343a40 0%,#292e33 70%,#141719 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #343a40 0%,#292e33 70%,#141719 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a40', endColorstr='#141719',GradientType=0 ); /* IE6-9 */
}